/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

html{
	scroll-snap-type: none;
	scroll-behavior: smooth;
}

.container{
	/* padding-left: 10px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	width: 100vw;
}

nav{
	/* background-color: #0E161B; */
	top: 0;
	padding: min(4rem, 8%);
	/* padding: 4rem; */
	/* border-radius: 18px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.8px);
	-webkit-backdrop-filter: blur(5.8px);
	flex-direction: column; */
}

.home{
	/* background-color: #707070; */
	padding: 0;
}

.secondary-links{
	gap: 1.5rem;
}

nav .home p:nth-child(1){
	font-size: .8rem;
}

/*--------------------- HERO SECTION -----------------*/

.section{
	/* background: #292929; */
	border-radius: 8px;
	width: 100%;
	/* height: 75vh; */
	/* gap: 60px; */
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: left;
	/* scroll-snap-align: center;
	scroll-snap-stop: always;
	overflow: hidden; */
}

.hero{
	width: 100%;
	height: 80vh;
	/* color: #FFFAFF; */
	/* border-radius: 12px; */
	/* margin-top: 80px; */
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

/* .hero .text-area {
	padding: 0 8px;
} */

.hero h1{
	font-size: 3.4rem;
	text-align: left;
}

.hero p{
	font-size: 1rem;
	width: 100%;
}

.hero-links .icons {
	color: #707070;
}

.hero .box-area {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}

.header-introduction{
	
	br{
		display: none;
	}
}

/*-------------- INTRODUCTION SECTION -------------*/

.introduction{

	height: auto;
	display: flex;
	padding: min(5rem, 10%);

	.intro-header{

		p{
			font-size: .8em;
		}
	}
}

p{
	font-size: .8em;
}

.professional{
	flex-wrap: wrap;
	gap: 4rem;

	.company{
	
	h4{
		font-size: .9em;
	}

	p{
		font-size: .8em;
	}
}
}

/*-------------- PROJECTS SECTION -------------*/

.projects{
	padding: min(4rem, 8%);
	
	.headers{
		margin-bottom: 2rem;
	}
}

#Work{
	height: 100%;
	/* background-color: green; */
}

.cards{
	/* background-color: red; */
	gap: 20px;
	height: 100%;
	padding: 0;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}

.cards .demo-box{
	width: 100%;
}

.cards .projects-conatiner{
	gap: 40px;
}

.header{
	width: 100%;
	gap: 4px;
}

.header h1{
	font-size: 1.1rem;
	font-weight: 500;
	text-align: left;
}

/* .cards .card{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	flex-wrap: nowrap;
} */

.card h2{
	width: 100%;
	text-align: left;
}

.card img{
	height: 100%;
	
}

.desc{
	width: 100%;
	gap: 10px;
	padding: 12px;
}


/*-------------- SKILLS SECTION -------------*/

.services-wrapper{

	padding: 2rem;
}

h2{
	color: #0E161B;
	font-size: 3em;
	line-height: 1em;
	font-weight: 600;
}


.service-box{
	flex-wrap: wrap;
}

.service-box img{
	width: 100%;
}


/* #Services{
	height: 100%;
}

.block-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	gap: 20px;
	
}

.first-column{
	gap: 20px;
}

.block {
	width: 100%;
	height: 100%;
	gap: 20px;
	padding: 12px;
} */

.stack{
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
}

/*------------------------ CONTACT SECTION ------------------------*/

.contact-section{
	padding: 0 2rem;
}

footer p{
	font-size: .8em;
}

footer .footer-links{
	padding: 0;
	display: flex;
	align-items: start;
	justify-content: start;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
	.service-box{
	flex-wrap: wrap;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.service-box{
	flex-wrap: nowrap;
}

/* .section#Contact {
	max-height: 400px;
}

.contact{
	height: 100%;
}

.info a{
	font-size: 40px;
	color: #292929;
	font-weight: 600;
}

.info h3{
	font-size: 15px;
	font-weight: 400;
}

.popup{
	position: absolute;
	top: -15%;
	left: 32%;
}

} */