/*--------------------- MOBILE -----------------*/

@media (max-width: 430px) {

html{
	scroll-snap-type: none;
}

.container{
	padding-left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav{
	top: 0;
	left: 0;
	background: #292929;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	border-radius:0;
	overflow: hidden;
	gap: 8px;
	padding: 12px;
	position: fixed;
	z-index: 9;
}

nav a{
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #ADADAD;
	background-color: transparent;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	outline: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s linear;
}

nav a:hover {
	background: #151414;
}

.section{
	/* background: #292929; */
	border-radius: 8px;
	width: 100%;
	height: 100vh;
	padding: 10px;
	gap: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: left;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	overflow: hidden;
}

.hero{
	width: 100%;
	height: 100%;
	color: #FFFAFF;
	border-radius: 12px;
	padding: 20px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.hero .text-area {
	padding: 0 8px;
}

.hero h1{
	font-size: 50px;
}

.hero-links .icons {
	color: #FFFAFF;
}

.hero .box-area {
	width: 100%;
	height: 50%;
}

.box-area div{
	position: relative;
	height: 0;
}

/*-------------- WORK SECTION -------------*/

#Work{
	height: 100%;
}

.cards{
	gap: 20px;
	height: 100%;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.cards .card{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	flex-wrap: nowrap;
}

.card h2{
	width: 100%;
	text-align: left;
}

.card img{
	height: 100%;
	
}

.desc{
	width: 100%;
	gap: 10px;
	padding: 12px;
}


/*-------------- SKILLS SECTION -------------*/

#Services{
	height: 100%;
}

.block-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.block {
	width: 100%;
	height: 100%;
	position: relative;
	gap: 30px;
}

#block-box .two{
	left: 0;
}
#block-box .three{
	left: 0;
}
#block-box .four{
	left: 0;
}

/*------------------------ CONTACT SECTION ------------------------*/

.section#Contact {
	height: 400px;
}

.contact{
	height: 100%;
}

.info a{
	font-size: 20px;
	color: #FFFAFF;
	font-weight: 500;
}

.popup{
	position: absolute;
	top: -15%;
	left: 32%;
}

}