/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	/* scroll-snap-type: y mandatory; */
}

body{
	font-family: 'Figtree', sans-serif;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	line-height: 1.5rem;
	background: #FFFAFF;
	color: #16232B;
	/* overflow-x: hidden; */

	p{
		font-family: 'Inter';
	}

	h1{
		font-size: 3rem;
	}
}

.container{
	/* background-color: #FF8600; */
	width: 100%;
	/* border: 2px solid red; */
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: right;
	/* padding: 10px; */
}

nav{
	
	/* From https://css.glass */
	/* background: rgba(41, 41, 41, 1); */
	width: 100vw;
	min-height: 100px;
	height: auto;
	display: flex;
	align-items: start;
	justify-content: space-between;
	overflow: hidden;
	gap: 12px;
	padding: 4rem 8rem;
	padding: min(4rem, 10%);
	position: fixed;
	z-index: 99;
	/* border-radius: 18px; */
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.8px);
	-webkit-backdrop-filter: blur(5.8px); */
	/* flex-direction: column; */
}

.link-content{
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: .8rem;
	height: 100%;

	.link-text{
		color: #707070;
		font-weight: 400;
		font-size: .4em;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;

		.location{
			display: flex;
			justify-content: space-between;
			gap: .5rem;
			color: #16232B;
			font-size: .9em;
			font-weight: 400;

			img{
				width: 16px;

			}
		}
	}

	img{
		width: 44px;
		border-radius: 8px;
	}
}

nav .home{
	/* background-color: #707070; */
	color: #16232B;
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	outline: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s linear;
}

nav .home img{
	width: 40px;
}

/* nav a:hover {
	background: #292929;
	color: #292929;
} */

.active{
	background-color: transparent;
	cursor: none;
}

.menu-bg{
	transition: 0.4s linear;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: start;
	justify-content: right;

	.menu-items{
		display: none;
		align-items: start;
		justify-content: left;
		flex-direction: column;

		p{
			font-size: large;
			font-weight: 400;
		}
	}
}

.menu-open{
	background-color: #F5F5F5;
	color: #075056;
	width: 350px;
	height: auto;
	display: flex;
	align-items: end;
	justify-content: right;
	flex-direction: column;
	overflow: hidden;
	border-radius: 4px;
	transition: 0.4s linear;

	.menu{

		padding-bottom: 1rem;
		.lines{
			width: 2.5rem;
			height: 3.4px;
			border-radius: 24px;
			background-color: #075056;
			transition: .14s linear;
		}
			
		.lines:nth-child(2) {
			width: 2rem;
			transform:rotate(12px);
		}
	}

	.menu-items{
		width: 100%;
		height: auto;
		display: flex;
		gap: 2rem;
		color: #075056;
		padding: 2rem 3rem;

		.contacts-title{
			color: rgba(0, 141, 163, 0.7);
			text-transform: uppercase;
			font-size: small;
			cursor: not-allowed;
		}
	}

	.secondary-links{
		display: flex;
	}
}

.menu{
	position: relative;
	background-color: transparent;
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: center;
	flex-direction: column;
	gap: .6rem;
	cursor: pointer;
	transition: 0.4s linear;
	
	.lines{
		width: 2.5rem;
		height: 3.4px;
		border-radius: 24px;
		background-color: #075056;
		transition: .14s linear;
	}

	.lines:nth-child(2) {
		width: 2rem;
	}

	.lines:nth-child(3) {
		background-color: transparent;
		display: none;
	}
}


.menu:hover{
	.lines:nth-child(2){
		width: 2.5rem;
	}

	.lines:nth-child(1),.lines:nth-child(3){
		width: 2rem;
	}
}

.secondary-links{
	width: 100%;
	background-color: transparent;
	display: none;
	align-items: center;
	justify-content: start;
	gap: 3rem;
	padding: 0 3rem;
	padding-bottom: 2rem;

	.external{
		text-decoration: none;
		background-color: transparent;

		img{
			width: 28px;
		}
	}
}

.section{
	/* background: #292929; */
	/* border-radius: 8px; */
	width: 100%;
	height: 100vh;
	gap: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: left;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	overflow: hidden;
}

/*--------------------- Hero SECTION ------------------------*/

.hero{
	/* border: 4px solid green; */
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	padding: min(5rem, 8%);
	padding-top: 12rem;
	/* background-image: url(/icons/llline.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
}

.hero h3{
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 1rem;
}

.hero h1{
	font-size: 5rem;
	line-height: 1em;
	color: #075056;
}

.hero p{
	position: relative;
	font-size: 1.1rem;
	font-weight: 400;
	text-align: left;
}

.hero .text-area {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 100%;
	gap: 1.4rem;
	height: auto;
	color: #707070;
}

.text-area{
	
	.name{
		font-weight: bold;
		color: #16232B;
	}

	.header-introduction{
		font-size: 1.1em;
	}
}

.hero .text-area .hero-links{
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	/* justify-content: space-between; */
	top: 50px;
	gap: 1.4rem;
}

.hero-links .cv{
	background: #FF8600;
	color: #F5F5F5;
	padding: 12px 30px;
	font-size: 16px;
	font-weight: 500;
	border: none;
	outline: none;
	/* border-radius: 8px; */
	text-decoration: none;
	position: relative;
}

a{
	text-decoration: none;
}

.hero-links .icons{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
	font-size: 1.2rem;
	text-decoration: none;
	transition: .4s;
}

.icons a{
	color: #F5F5F5;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

.hero-links .icons:hover{
	color: #FFFFFF;
}

.hero .box-area {
	width: 100%;
	height: fit-content;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	gap: 3rem;
	/* filter: grayscale(100%); */
	/* background-size: cover;
	background-position: center;
	object-fit: cover;
	overflow: hidden; */

	.summary {
		width: 350px;
		font-weight: bold;
		color: #16232B;
		display: flex;
		justify-content: left;
		align-items: center;
	}
}

.skill-block{
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: start;
	gap: .8rem;

	.hero-skills-text{
		color: #707070;
		font-weight: 600;
		font-size: medium;
	}

	.hero-skills{
		display: flex;
		gap: .8rem;

		img{
			width: 2.4rem;
			background-color: white;
			border: 1px solid #EFE9F4;
			border-radius: 6px;
			padding: 4px;
		}
	}
}

/* .box-area div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	width: 100%;
	padding: 5px;
	height: 55%;
	gap: 10px;
	background: #16232B;
	-webkit-animation: slide-top 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) alternate-reverse both;
	animation: slide-top 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) alternate-reverse both;
	transition: 1s;
} */

/* .box-area:hover > div{
	position: relative;
	height: 0;
	padding: 0;
	opacity: 0;
	color: transparent;
} */

/* @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
} */

/*------------------------ ABOUT SECTION ------------------------*/

.introduction{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4rem;
	padding: 8rem;
	color: #16232B;
	background-color: #FFFAFF;
	font-size: 1.1rem;

	.intro-header{
		display: flex;
		flex-direction: column;
		gap: 2rem;
		text-align: left;
		color: #075056;

		p{
			color: #16232B;
			font-size: 1em;
		}

		.icons-block{
			display: flex;
			align-items: start;
			gap: .5rem;

			img{
				width: 40px;
				background-color: transparent;
				border-radius: 8px;
				padding: 8px;
			}
		}
	}

	.professional{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		gap: 2rem;
		color: #707070;

		h3{
			color: #707070;
			font-size: 1.5em;
			font-weight: 500;
		}

		.pro-slots {
			color: #292929;
			font-size: 1em;
			border-radius: 2px;
			height: fit-content;
			display: flex;
			align-items: start;
			flex-direction: column;
			gap: 1.4rem;
		}

		.tabs{
			width: 100%;
			/* background-color: rebeccapurple; */
			gap: 1.4rem;
			display: flex;
			flex-direction: column;
		}

		.slots{
			width: 100%;
			display: flex;
			align-items: start;
			gap: 1rem;

			.company{
				display: flex;
				align-items: start;
				flex-direction: column;

				h4{
					font-size: 1em;
					font-weight: 500;
					color: #333;
				}

				p{
					font-size: .9em;
				}
			}

			img{
				
				width: 48px;
				border: 1px solid #EFE9F4;
				border-radius: 4px;
				padding: 6px;
			}
		}
	}

	hr{
		display: none;
		width: 100%;
		border: 1px solid #EFE9F4;
	}
}

/*------------------------ SKILLS SECTION ------------------------*/


.services {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: left;

	.services-wrapper{
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 4rem;
		border-radius: 16px;
		background-color: transparent;
		min-height: 100%;
		width: 100%;
		padding: min(4rem, 8%);

		.services-section{
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			.service-box{
				background-color: #0E161B;
				border-radius: 4px;
				width: 100%;
				height: 100%;
				min-height: 200px;
				padding: 2rem;
				display: flex;
				align-items: start;
				justify-content: space-between;
				gap: 2rem;

				.items-header{
					display: flex;
					flex-direction: column;
					align-items: start;
					justify-content: space-between;
					gap: 1rem;
					color: #FFFAFF;
					width: 100%;
					height: 100%;

					p{
						color: #E4EEF0;
						font-size: 1em;
					}

					h2{
						color: #FFFAFF;
					}

					.service-description{
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: start;
						justify-content: end;
						gap: 1rem;
						color: #FFFFFF;
						width: 100%;

						ul{
							list-style: none;
							display: flex;
							align-items: end;
							justify-content: start;
							flex-wrap: wrap;
							gap: .5rem;

							li{
								background-color: #FFFAFF;
								color: #292929;
								border-radius: 2px;
								padding: .4rem .8rem;
							}
						}
					}
				}

				img{
					max-width: 400px;
					border-radius: 4px;
				}
			}
		}
	}
}

.headers{

	p{
		font-size: 1em;
		color: #075056;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

}

h2{
	color: #0E161B;
	font-size: 3em;
	line-height: 1.2em;
	font-weight: 600;
}


/* a:nth-child(2) {
	--bg: #EBEBEB;
}
a:nth-child(3) {
	--bg: #021212;
} */
/* 
a{
	background-color: var(--bg);
	color: #EBEBEB;
} */


/*------------------------ PROJECTS SECTION ------------------------*/

.projects{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: start;
	justify-content: left;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	background-color: #FFFAFF;
}

.cards {
	gap: 4rem;
	padding: 8rem;
	width: 100%;
	height: 100%;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	/* background: green; */

	.github-link{
		color: #E4EEF0;
		background-color: #16232B;
		border-radius: 3px;
		min-height: 24px;
		padding: .8rem 1rem;
		text-transform: lowercase;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		img{
			width: 20px;
		}
	}
}

.projects-conatiner{
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-between;
	gap: 2rem;
	height: 100%;
	width: 100%;
}

.cards .demo-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	font-weight: normal;
	gap: .8rem;
	/* gap: 12px; */
	/* border-radius: 8px; */
	overflow: hidden;
	transition: .2s linear;
}

.cards .header{
	height: 100%;
	/* background-color: #ADADAD; */
}

.visit-site {
	width: 100%;
	background-color: #16232B;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 1.5rem; */
	gap: 1.5rem;
	position: relative;
}

/* .titles:hover > img{
	transform: rotateX(20px);
} */

.visit-site img{
	width: 100%;
	border-radius: 3px;
}

.titles{
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 2rem;
	padding: 2rem;
	color: #E4EEF0;
	background-color: #16232B;
	border-radius: 3px;
	width: 100%;
	transition: .4s linear;

	p{
		font-size: 1.2rem;
		font-weight: 500;
	}

	img{
		width: 24px;
	}
}

	/* .project-skills{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		gap: 0.4rem;

		p{
			color: #EFE9F4;
			background-color: #EFE9F4;
			padding: .4rem .6rem;
			border-radius: 2px;
			font-size: 1rem;
			font-weight: 500;
		}
	}
} */


.header{
	width: 100%;
	gap: 8px;

	p{
		text-align: left;
		font-size: 1em;
		color: #EFE9F4;
		font-weight: 600;
		text-transform: uppercase;
	
	}
}

/*------------------------ CONTACT SECTION ------------------------*/

.contact-section{
	background-color: #FFFAFF;
	color: #16232B;
	width: 100%;
	height: auto;
	padding: 0 8rem;
	display: flex; 
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.info{
		padding: 4rem 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		
		a{
			color: #075056;
			font-size: 5rem;
			font-weight: 600;
			line-height: normal;
		}

		.header > p{
			text-align: center;
		}
	}
}

.footer-links{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

/* #Contact{
	height: 60vh;
	border-radius: 0;
} */


.contact-section footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-bottom: 2rem; */
	border-top: .4px solid;
	border-color: rgba(7, 80, 86, .2);
}

footer p{
	font-size: 1rem;
	text-transform: capitalize;
	font-weight: 400;
}

footer{

	.external{
		text-decoration: none;
		background-color: transparent;

		img{
			width: 28px;
		}
	}
}

.popup{
	position: absolute;
	top: -10%;
	left: 45%;
	background: #16232B;
	padding: 12px 18px;
	color: #FFFFFF;
	/* border-radius: 8px; */
	z-index: 9;
	transition: transform .4s, top .4s;
}

.copyEmail{
	top: 3%;
}

/*------------------------ CUSTOM SCROLLBAR ------------------------*/

/* ::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-track{
	background: transparent;
}

::-webkit-scrollbar-thumb{
	background: #ADADAD;
} */

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: tracking-in-contract 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


/* SPAN FLICKER */

.flicker-1 {
	color: #ADADAD;
	-webkit-animation: flicker-1 1.4s linear infinite alternate-reverse both;
	        animation: flicker-1 1.4s linear infinite alternate-reverse both;
}

@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
